<%include partials/header %>

<section class="probootstrap-cover">
  <div class="container">
    <div class="row probootstrap-vh-100 align-items-center text-center">
      <div class="col-sm">
        <div class="probootstrap-text">
          <h1 class="probootstrap-heading text-white mb-4">Unique experiences for everyone.</h1>
          <div class="probootstrap-subheading mb-5">
            <p class="h4 font-weight-normal">
              Design your dream trip and we will deliver it.
            </p>
          </div>
          <p>
            <a href="/packages" class="btn btn-primary mr-2 mb-2">Browse Packages</a
            ><a href="/experience" class="btn btn-primary btn-outline-white mb-2"
              >Design Your Trip</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md pr-md-5 pr-0 mb-5">
        <h1 class="mb-4 display-5">Popular Packages</h1>
        <div class="probootstrap-item mb-4">
          <h3>Dream for the best of the best</h3>
          <p>
            The most luxurios and the grandest of sceneries made just for you.
          </p>
        </div>
        <div class="probootstrap-item mb-4">
          <h3>We know making choices are hard</h3>
          <p>
            Select one of our specially curated packages just for you.
          </p>
        </div>
        <div class="probootstrap-item mb-4">
          <h3>Save money for your next trip</h3>
          <p>
            We deliver the best experiences at most competitive prices.
          </p>
        </div>
      </div>

      <div class="col-md pl-md-5 pl-0 probootstrap-image-grid">
        <div class="row">
          <div class="col-md-6">
            <a class="probootstrap-img-item" href="/packages"
              ><span class="icon icon-plus"></span>
              <div style="background-image: url(images/img_a.jpg);"></div
            ></a>
          </div>
          <div class="col-md-6">
            <a class="probootstrap-img-item" href="/packages"
              ><span class="icon icon-plus"></span>
              <div style="background-image: url(images/img_b.jpg);"></div
            ></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a class="probootstrap-img-item" href="/packages"
              ><span class="icon icon-plus"></span>
              <div style="background-image: url(images/img_c.jpg);"></div
            ></a>
          </div>
          <div class="col-md-6">
            <a class="probootstrap-img-item" href="/packages"
              ><span class="icon icon-plus"></span>
              <div style="background-image: url(images/img_d.jpg);"></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="probootstrap-section probootstrap-section-feature pb-0 probootstrap-overflow-hidden"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 pl-md-5 pb-5 order-md-2 order-1">
        <h2 class="mb-4 display-5 probootstrap-heading">It's easy as 1 - 2 - 3</h2>
        <div class="probootstrap-item mb-4">
          <h3>First Step</h3>
          <p>
            Choose from one of our packages.
          </p>
        </div>
        <div class="probootstrap-item mb-4">
          <h3>Make Payment for the package</h3>
          <p>
            We already have some of the best prices in the market. So you can be sure of getting a
            good value.
          </p>
        </div>
        <div class="probootstrap-item mb-4">
          <h3>Sit back and relax</h3>
          <p>
            We'll take it from here.
          </p>
        </div>
      </div>

      <div class="col-md-6 pr-md-5 order-md-1 order-2">
        <div class="probootstrap-device">
          <img src="images/phone_2.png" class="img-fluid mb-md-0 mb-5" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="media mb-md-0 mb-3">
          <div class="probootstrap-icon"><span class="icon-fingerprint display-4"></span></div>
          <div class="media-body">
            <h5 class="mt-0">Safest services</h5>
            <p>
              With best in class authentication services, you can rest easy, as we take security to
              be number one priority.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="media mb-md-0 mb-3">
          <div class="probootstrap-icon"><span class="icon-users display-4"></span></div>
          <div class="media-body">
            <h5 class="mt-0">Build a community</h5>
            <p>
              Build your own social network. Meet new people every time you travel. We pride
              ourselves in our customers saisfaction.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="media mb-md-0 mb-3">
          <div class="probootstrap-icon"><span class="icon-chat display-4"></span></div>
          <div class="media-body">
            <h5 class="mt-0">Support Us</h5>
            <p>
              We are a brand new startup, with big abmitions. Suppost us by sharing this, as we
              believe the best advertisement is your word-of-mouth.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% include partials/footer %>
