<%include partials/header %>
<section class="probootstrap-cover">
    <div class="container">
        <div class="row probootstrap-vh-100 align-items-center text-center">
        <div class="col-sm">
            <div class="probootstrap-text">
            <h1 class="probootstrap-heading text-white mb-4">User Not Found!</h1>
            <div class="probootstrap-subheading mb-5">
                <p class="h4 font-weight-normal">
                Try Again or Sign Up
                </p>
            </div>
            <p>
                <a href="/login" class="btn btn-primary mr-2 mb-2">Login</a
                >
                <a href="https://uicookies.com/" class="btn btn-primary btn-outline-white mb-2"
                  >Sign Up</a
                >
            </p>
            </div>
        </div>
        </div>
    </div>
</section>
<% include partials/footer %>