<%include partials/header %>

    <section class="probootstrap-cover">
      <div class="container">
        <div class="row probootstrap-vh-75 align-items-center text-left">
          <div class="col-sm">
            <div class="probootstrap-text pt-5">
              <h1 class="probootstrap-heading text-white mb-4">Choose from one of our popular packages</h1>
              <div class="probootstrap-subheading mb-5">
                <p class="h4 font-weight-normal">
                  These packages are specially curated for our customers. The more you use our facilities, the better we get at servicing you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 pr-md-5 pr-0">
            <h2 class="mb-5">Goa</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas minima id nam! Et recusandae id expedita? Consectetur optio voluptatibus nulla ipsa numquam eaque eveniet beatae, aliquam quam magni aspernatur cum? 
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quos inventore deleniti provident consectetur praesentium aliquid facilis repudiandae expedita dolorem repellendus dolore, quam atque! Nihil maxime explicabo eos fugiat ullam officia, saepe quidem eligendi, voluptate pariatur incidunt minima eum possimus.
            </p>
          </div>
          <div class="col-md-5">
            <h2 class="mb-5">Amazing Goa</h2>
            <div class="col-md-10">
              <a class="probootstrap-img-item" href="#">
                <div style="background-image: url(images/pkg1.jpg);"></div
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      class="probootstrap-section probootstrap-section-feature pb-0 probootstrap-overflow-hidden"
    >
      <div class="container">
        <div class="row">
          <div class="col-md-6 pl-md-5 pb-5 order-md-2 order-1">
            <h2 class="mb-4 display-5 probootstrap-heading">Heavenly Srinagar</h2>
            <div class="probootstrap-item mb-4">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia eum cumque quidem, voluptatum deserunt commodi quia nesciunt iure hic, illum voluptas iste sequi doloribus cum non alias consectetur quisquam tempore.
              </p>
            </div>
            <div class="probootstrap-item mb-4">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, qui consequuntur! Ex, minima. Quidem vitae neque nulla facilis. Possimus maxime adipisci veritatis enim? Corrupti reiciendis consequuntur dicta ea sapiente. Porro?
              </p>
            </div>
          </div>

          <div class="col-md-6 pr-md-5 order-md-1 order-2">
            <div class="col-md-10">
              <a class="probootstrap-img-item" href="#">
                <div style="background-image: url(images/pkg2.jpg);"></div
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="media">
              <div class="probootstrap-icon"><span class="icon-fingerprint display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Free Bootstrap 4</h5>
                <p>
                  Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media">
              <div class="probootstrap-icon"><span class="icon-users display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">For The Community</h5>
                <p>
                  Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="media">
              <div class="probootstrap-icon"><span class="icon-chat display-4"></span></div>
              <div class="media-body">
                <h5 class="mt-0">Support Us By Sharing This to Others</h5>
                <p>
                  Far far away, behind the word mountains, far from the countries Vokalia and
                  Consonantia, there live the blind texts.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include partials/footer %>
