<%include partials/header %>
<section class="probootstrap-cover">
    <div class="container">
        <div class="row probootstrap-vh-100 align-items-center text-center">
        <div class="col-sm">
            <div class="probootstrap-text">
            <h1 class="probootstrap-heading text-white mb-4">
                <%= placeSuggest %>
            </h1>
            <div class="probootstrap-subheading mb-5">
                <p class="h4 font-weight-normal">
                Your Dream Destination
                </p>
            
        </div>
        </div>
    </div>
</section>
<% include partials/footer %>